include profile-popover.pug
include popover.pug
.app-header.navbar
  //- navbar header
  .pull-left.w-md(class='{{$ctrl.settings.navbarHeaderColor}}')
    button.pull-right.visible-xs(ng-click='$ctrl.settings.mobileHeader = !$ctrl.settings.mobileHeader')
      i.fa.fa-cog
    //- brand
    a.navbar-brand.text-white(ui-sref='main.dashboard')
      img(src='/assets/images/logo-white.svg', alt='{{$ctrl.name}}')
      span.text-white EXTENSION

  //- navbar collapse
  .collapse.pos-rlt.navbar-collapse.box-shadow(
    class='{{$ctrl.settings.navbarCollapseColor}}'
    ng-class="{\
      'show': $ctrl.settings.mobileHeader,\
    }"
  )
    //- buttons
    .nav.navbar-nav.hidden-xs.hide
      a.btn.no-shadow.navbar-btn(
        href=''
        ng-click='$ctrl.settings.asideFolded = !$ctrl.settings.asideFolded'
      )
        i.fa.fa-fw(class="{{$ctrl.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}}")
      a.btn.no-shadow.navbar-btn(href='', ui-toggle-class='show', target='#aside-user')
        i.icon-user.fa-fw

    aside-menu(ng-hide='!$ctrl.isRegistered')
    ul.nav.navbar-nav.navbar-right(ng-if='$ctrl.user')
      li
        a.no-hv(
          uib-popover-template='"navbar-profile-template.html"'
          popover-trigger='"outsideClick"'
          popover-is-open='$ctrl.isProfPopOpen'
          popover-placement='bottom-right'
          style='padding: 10px;'
        )
          div.bg-light.b-info.b-a.text-center(style='height: 30px;width: 30px;border-radius: 50%;')
            span.text-md.text-u-c(style='font-size: 18px !important;color: #4675b6;line-height: 1.6em;' ng-bind='$ctrl.user.name.substr(0, 1)')
